@page "/user/{userId:int}"
@inject IUserService UserService




@if (user == null)
{
    <h3 style="text-align:center;">User Details</h3>
    <span>The User detalis are loading!</span>
}
else
{
    <h3 style="text-align:center;">User @user.UserName Details</h3>
    <table  class="table table-striped" style="border: 0.5px solid black; border-radius: 5px; padding: 20px; max-width: 50%; margin-top: 50px; margin-left: 25%; margin-bottom: 50px; background-color: #2B2B2B; color: #ffffff; ">
        <tbody>

            <tr>
                <td>User Id </td>
                <td>@user.UserId</td>
            </tr>
            <tr>
                <td>User Name</td>
                <td>@user.UserName</td>
            </tr>
            <tr>
                <td>Password</td>
                <td>@user.Password</td>
            </tr>
            <tr>
                <td>First Name</td>
                <td>@user.FirstName</td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>@user.LastName</td>
            </tr>
            <tr>
                <td>User Email</td>
                <td>@user.UserEmail</td>
            </tr>
            <tr>
                <td>Phone Number</td>
                <td>@user.UserPhoneNo</td>
            </tr>
            <tr>
                <td>User Type</td>
                <td>@user.UserType</td>
            </tr>
            <tr>
                <td>Company Name</td>
                <td>@user.CompanyName</td>
            </tr>


        </tbody>
    </table>


}

@code {
    [Parameter]
    public int UserId { get; set; }

    CW2.Shared.User user = null;

    protected override async Task OnInitializedAsync()
    {
        user = await UserService.GetSingleUser(UserId);

    }
}
