@page "/company/{companyId:int}"
@inject ICompanyService CompanyService


<h3>Company Details</h3>

@if (company == null)
{
    <span>The company details are loading!</span>
}
else
{
    <h4>Company Id is @company.CompanyId</h4>
    <h4>
        Company name is @company.CompanyName
    </h4>
    <h4>Company Address is @company.CompanyAddress</h4>
    <h4>Company Email is @company.CompanyEmail</h4>
    <h4>Company Phone Number is @company.CompanyPhoneNo</h4>
    <h4>Company Description is @company.CompanyDescription</h4>

}

@code {

    [Parameter]
    public int CompanyId { get; set; }

    CW2.Shared.Company company = null;

    protected override async Task OnInitializedAsync()
    {
        company = await CompanyService.GetSingleCompany(CompanyId);

    }


}
