@page "/company/{companyId:int}"
@inject ICompanyService CompanyService




@if (company == null)
{   <h3>Company Details</h3>
    <span>The company details are loading!</span>
}
else
{       <h3 style="text-align:center;">Company @company.CompanyName Details</h3>
    <table  class="table table-striped" style="border: 0.5px solid black; border-radius: 5px; padding: 20px; max-width: 50%; margin-top: 50px; margin-left: 25%; margin-bottom: 50px; background-color: #2B2B2B; color: #ffffff; ">
        <tbody>

                <tr>
                    <td>Company Id </td>
                    <td>@company.CompanyId</td>
                </tr>
                <tr>
                    <td>Company Email</td>
                    <td>@company.CompanyEmail</td>
                </tr>
                <tr>
                    <td>Company Address</td>
                    <td>@company.CompanyAddress</td>
                </tr>
                <tr>
                    <td>Company Phone Number</td>
                    <td>@company.CompanyPhoneNo</td>
                </tr>
                <tr>
                    <td>Company Description</td>
                    <td>@company.CompanyDescription</td>
                </tr>
        </tbody>
    </table>

}

@code {

    [Parameter]
    public int CompanyId { get; set; }

    CW2.Shared.Company company = null;

    protected override async Task OnInitializedAsync()
    {
        company = await CompanyService.GetSingleCompany(CompanyId);

    }


}
