@page "/createCompany"

@inject ICompanyService CompanyService
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

@if (Company.CompanyId == 0)
{
    <h3 style="text-align:center;">Create Company</h3> }
else
{
<h3 style="text-align:center;">Update @Company.CompanyName</h3>
}

<EditForm Model="Company" OnValidSubmit="HandleCompanySubmit">
    <DataAnnotationsValidator />
    

    <div style="border: 0.5px solid black; border-radius: 5px; padding: 20px; max-width: 50%; margin-left: 25%; margin-bottom: 50px; background-color:#300c4d; color:#ffffff; ">
        @*<ValidationSummary />*@
        <div class="form-group">
            <b><label>Company Name</label></b>
            <InputText @bind-Value="Company.CompanyName" class="form-control" placeholde="5-30 characters"></InputText>
            <ValidationMessage For="@(()=> Company.CompanyName)"></ValidationMessage>
        </div>
        <div class="form-group">
            <b><label>Company Address</label></b>
            <InputText @bind-Value="Company.CompanyAddress" class="form-control" placeholde="5-100 characters"></InputText>
            <ValidationMessage For="@(()=> Company.CompanyAddress)"></ValidationMessage>
        </div>

        <div class="form-group">
            <b><label>Email</label></b>
            <InputText @bind-Value="Company.CompanyEmail" class="form-control" placeholde="5-30 characters"></InputText>
            <ValidationMessage For="@(()=> Company.CompanyEmail)"></ValidationMessage>
        </div>
        <div class="form-group">
            <b><label>Phone Number</label></b>
            <InputText @bind-Value="Company.CompanyPhoneNo" class="form-control" placeholde="10 digits"></InputText>
            <ValidationMessage For="@(()=> Company.CompanyPhoneNo)"></ValidationMessage>
            @*<InputNumber @bind-Value="Company.CompanyPhoneNo" class="form-control"></InputNumber>*@

            @*<InputSelect @bind-Value="Company.CompanyPhoneNo">
                <option value="">Select Ticket Status ...</option>
                <option value="Todo">Todo</option>
                <option value="Inprogress">Inprogress</option>
                <option value="Completed">Completed</option>
            </InputSelect>*@

        </div>
        <div class="form-group">
            <b><label>Description</label></b>
            <InputTextArea @bind-Value="Company.CompanyDescription" class="form-control" placeholde="10-200 characters"></InputTextArea>
            <ValidationMessage For="@(()=> Company.CompanyDescription)"></ValidationMessage>
        </div>
        <br><br>
        @if (Company.CompanyId == 0)
        {
    <button type="submit" style="margin-left: 40%; max-width: 20%; background-color:#007EA7; " class="btn btn-primary">Create</button> }
else
{
    <button type="submit" style="margin-left: 40%; max-width:20%; background-color: #007EA7; " class="btn btn-primary">Update</button>}

        <br><br><br>
    </div>

</EditForm>

@code { [Parameter]
    public CW2.Shared.Company Company { get; set; } = new CW2.Shared.Company();

    async void HandleCompanySubmit()
    {
        await JSRuntime.InvokeVoidAsync("console.log", Company);

        if (Company.CompanyId == 0)
        {
            Console.WriteLine("Create was done");
            await CompanyService.CreateCompany(Company);
            Company = new Company();
        }
        else
        {
            Console.WriteLine("Update was done");
            await CompanyService.UpdateCompany(Company, Company.CompanyId);
        }

        @*NavigationManager.NavigateTo("companies");*@


    } }
