@page "/createProject"
@page "/createProject/{projectId:int}"

@inject IProjectService ProjectService
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

@if (Project.ProjectId == 0)
{
    <h3 style="text-align:center;">Create Project</h3> }
else
{
    <h3 style="text-align:center;">Update @Project.ProjectName </h3>}

<EditForm Model="Project" OnValidSubmit="HandleProjectSubmit">
    <DataAnnotationsValidator />
    <div style="border: 0.5px solid black; border-radius: 5px; padding: 20px; max-width: 50%; margin-left: 25%; margin-bottom: 50px; background-color: #300c4d; color: #ffffff;">
        <div class="form-group">
            <label>Project name</label>
            <InputText @bind-Value="Project.ProjectName" class="form-control"></InputText>
            <ValidationMessage For="@(()=> Project.ProjectName)"></ValidationMessage>
        </div>
        <div class="form-group">
            <label>Project Description</label>
            <InputText @bind-Value="Project.ProjectDescription" class="form-control"></InputText>
            <ValidationMessage For="@(()=> Project.ProjectDescription)"></ValidationMessage>
        </div>
        <div class="form-group">
            <label>Start Date</label>
            <InputText @bind-Value="Project.StartDate" class="form-control"></InputText>
            <ValidationMessage For="@(()=> Project.StartDate)"></ValidationMessage>
        </div>
        <div class="form-group">
            <label>End Date</label>
            <InputText @bind-Value="Project.EndDate" class="form-control"></InputText>
            <ValidationMessage For="@(()=> Project.EndDate)"></ValidationMessage>
        </div>
        <div class="form-group">
            <label>Project Status</label>
            @*<InputText @bind-Value="Project.ProjectStatus" class="form-control"></InputText>*@
            <InputSelect @bind-Value="Project.ProjectStatus" class="form-control">
                <option value="">Select Project Status ...</option>
                <option value="Todo">Todo</option>
                <option value="Inprogress">Inprogress</option>
                <option value="Completed">Completed</option>
            </InputSelect>
            <ValidationMessage For="@(()=> Project.ProjectStatus)"></ValidationMessage>
        </div>

        @*<div class="form-group">
            <label>Assign this project to User</label>
            <InputText @bind-Value="Project.UserName" class="form-control"></InputText>
            <ValidationMessage For="@(()=> Project.UserName)"></ValidationMessage>
        </div>
        <div class="form-group">
            <label>The company this project has been assigned for</label>
            <InputText @bind-Value="Project.CompanyName" class="form-control"></InputText>
            <ValidationMessage For="@(()=> Project.CompanyName)"></ValidationMessage>
        </div>*@

        @if (Project.ProjectId == 0)
        {
            <button type="submit" style="margin-left:40%; max-width:20%; background-color: #007EA7; " class="btn btn-primary">Submit</button> }
        else
        {
            <button type="submit" style="margin-left:40%; max-width:20%; background-color: #007EA7; " class="btn btn-primary">Update</button>}
    </div>
</EditForm>

@code { 
    [Parameter]
    public int ProjectId { get; set; }
    public CW2.Shared.Project Project { get; set; } = new CW2.Shared.Project();

    protected override async Task OnInitializedAsync()
    {
        if (this.ProjectId != 0)
        {
            this.Project = await ProjectService.GetSingleProject(this.ProjectId);
        }

    }

    async void HandleProjectSubmit()
    {
        await JSRuntime.InvokeVoidAsync("console.log", Project);

        if (Project.ProjectId == 0)
        {
            Console.WriteLine("Create was done");
            await ProjectService.CreateProject(Project);
            await JSRuntime.InvokeVoidAsync("alert", $"Project was created Successfully!");
        }
        else
        {
            Console.WriteLine("Update was done");
            await ProjectService.UpdateProject(Project, Project.ProjectId);
            await JSRuntime.InvokeVoidAsync("alert", $"Project was updated Successfully!");
        }

        NavigationManager.NavigateTo("projects");
    } }
