@page "/ticket/{ticketId:int}"
@inject ITicketService TicketService

<h3>Ticket Details</h3>

@if (ticket == null)
{
    <span>The Ticket details are loading!</span>
}
else
{
    <h4>Ticket Id is @ticket.TicketId</h4>
    <h4>Ticket Description : @ticket.TicketDescription</h4>
    <h4>Ticket Status :  @ticket.TicketStatus</h4>
    <h4>Ticket belongs to project : @ticket.Project</h4>
    @*<h4>Assigned user : @ticket.User</h4>*@

}

@code {

    [Parameter]
    public int TicketId { get; set; }

    CW2.Shared.Ticket ticket = null;

    protected override async Task OnInitializedAsync()
    {
        ticket = await TicketService.GetSingleTicket(TicketId);

    }

}
