@page "/tickets"
@inject ITicketService TicketService
@inject NavigationManager NavigationManager
@implements IDisposable

<h3>Manage Tickets</h3>

@if (TicketService.Tickets.Count == 0)
{
    <span>The Tickets are loading...</span>
    <br>
    <b>If the Tickets are not getting loaded try login to the system</b>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Ticket Id</th>
                <th>Ticket Name</th>
                <th>Description</th>
                <th>Status</th>
                @*<th>Project</th>*@
                @*<th>User</th>*@
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ticket in TicketService.Tickets)
            {
                <tr>
                    <td>@ticket.TicketId</td>
                    <td>@ticket.TicketName</td>
                    <td>@ticket.TicketDescription</td>
                    <td>@ticket.TicketStatus</td>
                    @*<td>@ticket.Project</td>*@
                    @*<td>@ticket.User</td>*@
                    <td>
                        <button class="btn btn-primary" @onclick="(() => ShowTicket(ticket.TicketId))">View</button>
                    </td>
                    <td>
                        <button class="btn btn-primary" @onclick="(() => UpdateTicket(ticket.TicketId))">Update</button>
                    </td>
                    <td>
                        <button class="btn btn-danger" @onclick="(() => DeleteTicket(ticket.TicketId))">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<CreateTicket Ticket="ticketToUpdate"></CreateTicket>

@code {
    CW2.Shared.Ticket ticketToUpdate = new CW2.Shared.Ticket();

    protected override async Task OnInitializedAsync()
    {
        await TicketService.GetTickets();
        TicketService.OnChange += StateHasChanged;
    }

    @*This method would navigate to Ticket details page *@
    void ShowTicket(int ticketId)
    {
        NavigationManager.NavigateTo($"ticket/{ticketId}");
    }

    public void Dispose()
    {
        TicketService.OnChange -= StateHasChanged;
    }

    @*This is to invoke the update of a Ticket*@
    void UpdateTicket(int ticketId)
    {
        ticketToUpdate = TicketService.Tickets.Find(t => t.TicketId == ticketId);
    }

    @*This is to invoke the delete of a Ticket*@
    void DeleteTicket(int ticketId)
    {
        TicketService.DeleteTicket(ticketId);
    }
}
